:root {
	--principal: #fff;
	--color-sec: #1C2833;
	--conteaste: #00EE94;
	--contraste-bajo: #8afdd1;
	--fondo: #C7CDD8;
	--black-1: #1E1E1E;
	--black-2: #2C2C2C;
	--black-3: #444444;
	--balck-4: #161d25;
	--gray-1: #BDBDBD;
	--color-bar: #ececec;
	--color-input-click: #DADADA;
	--poiret: 'Poiret One', cursive;
	--nution: 'Nunito', sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-family: 'Poiret One', cursive;

}

header {
	background-color: var(--fondo);
	display: grid;
	grid-template-columns: .8fr 1.5fr 1fr;
	grid-template-rows: 15vh;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	background-color: var(--color-sec);
	border-radius: 0 40px 0 0;
}
.logo__rules {
	font-size: 35px;
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	background-color: #3E4B57;
	width: 65%;
	text-align: center;
	color: var(--principal);
	padding: 5px 0;
	border-radius: 20px;
}
.seccion-pagina {
	display: flex;
	align-items: center;
	justify-content: left;
	margin: 10px 10px;
	background-color: var(--principal);
	border-radius: 20px;
}
.seccion-pagina__principal {
	font-size: 35px;
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	margin-left: 45px;
}
.user {
	display: flex;
	align-items: center;
	justify-content: right;
	margin: 10px 10px;
	background-color: var(--principal);
	border-radius: 20px;
}
.user__picture-user {
	width: 60px;
	margin-right: 10px;
}
.user__name {
	font-size: 20px;
	font-family: 'Poiret One', cursive;
	font-weight: 500;
}
.user__name .user__name--level {
	color: red;
	font-size: 15px;
	font-family: 'Poiret One', cursive;
	font-weight: 500;
}
.user .user__notification {
	width: 35px;
	margin-right: 10px;
}
.user .user__night {
	width: 35px;
	margin-right: 20%;
}
main {
	display: grid;
	grid-template-columns: .8fr 2.5fr;
	grid-template-rows: 85vh;
	background-color: var(--fondo);
}

/* Estilos del buscador ------------------------------------------------------------ */
.block-1 {
	background-color: var(--color-sec);
	margin: 0 10px 0 0;
	border-radius: 0 0 40px 0;
}.container-prin, .container-sec {
	width: 75%;
	height: 10%;
	display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--balck-4);
    margin: 10px auto;
    border-radius: 10px;
}
.container-sec {
	background-color: var(--color-sec);
	transition: 0.3s;
}
.container-sec:hover {
	background-color: var(--balck-4);
}
.seccion__icon {
	width: 13%;
	margin-left: 10%;
	margin-right: 20px;
}
.seccion-seleccionada, .no-selec {
	font-size: 22px;
	font-family: 'Nunito', sans-serif;
	color: var(--conteaste);
	cursor: pointer;
}
.no-selec {
	color: var(--principal);
}


/* Bloque contratos ----------------------------------------------------------- */
.block-2 {
	background-color: var(--principal);
	margin: 10px 20px 20px 10px;
	border-radius: 20px;
}

.block-2__sec {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 5vh;
	margin: 30px 0 0 40px; 
}
.block-2__title {
	font-size: 30px;
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	text-align: left;
}
.header-sec {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: var(--conteaste);
	width: 50%;
	margin-left: 40%;
	border-radius: 20px;
	cursor: pointer;
}
.header-sec__title {
	font-size: 15px;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
}
.header-sec__plus {
	width: 10%;
}
.contenido {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 5vh;
	margin: 20px 35px  5px 40px;
}
.item {
	font-size: 18px;
}

/* Container-contratos */
.contratos {
	display: grid;
	grid-template-rows: repeat(5, 10vh);
	height: 50vh;
	padding: 0 15px 0 30px;
	overflow-y: auto;
}
.contratos::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
}
  
.contratos::-webkit-scrollbar-track {
	background: var(--color-bar);        /* color of the tracking area */
}
  
.contratos::-webkit-scrollbar-thumb {
	background-color: var(--color-input-click);    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 2px solid var(--principal);  /* creates padding around scroll thumb */
}
.contrato-container {
	display: grid;
	height: 50px;
	grid-template-columns: repeat(4, 1fr) 30px;
	width: 100%;
	align-items: center;
	border-radius: 10px;
	margin-bottom: 10px;
	transition: .1s;
}
.contrato-container:hover {
	background-color: var(--color-bar);
	-webkit-box-shadow: 2px 2px 9px 0px rgba(154,154,154,1);
	-moz-box-shadow: 2px 2px 9px 0px rgba(154,154,154,1);
	box-shadow: 2px 2px 9px 0px rgba(154,154,154,1);
}

/* input text */
.contrato-container .item {
	font-family: var(--nution);
	font-size: 18px;
	font-weight: 300;
	margin-left: 10px;
}
.contrato-container .contrato-name {
	color: var(--black-1);
	text-decoration: none;
}
.contrato-container .contrato-name:hover {
	text-decoration: underline;
	cursor: pointer;
}
.contrato-container .contrato-date{
	font-size: 15px;
}
.contrato-container .estado {
	display: flex;
}
.contrato-container .estado .circle {
	width: 15px;
	margin: 0 10px 0 10px;
}
.contrato-container .estado .arrow-estado {
	width: 15px;
	margin-left: 10px;
	cursor: pointer;
	transition: 0.2s;
}
.contrato-container .estado .arrow-estado:hover {
	background-color: var(--color-input-click);
	border-radius: 5px;
}

/* configuraciones tres puntos */
.contrato-container .estado__configuraciones {
	transition: .3s;
}
.contrato-container .estado__configuraciones:hover {
	background-color: #DADADA;
	border-radius: 100%;
}

/* ---------------- Estilos Estado ------------- */
.con-estado {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	position: absolute;
    bottom: 291px;
	width: 150px;
	height: 12vh;
	background-color:var(--principal);
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 9px 0px rgba(154,154,154,1);
	-moz-box-shadow: 2px 2px 9px 0px rgba(154,154,154,1);
	box-shadow: 2px 2px 9px 0px rgba(154,154,154,1);
}
.con-estado .container-estados {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 10px;
	margin-left: 12px;
}
.estado-circle {
	width: 15px;
}
.check {
	margin-left: 15px;
	width: 25px;
	padding: 3px;
	border-radius: 100%;
	transition: .2s;
}
.check:hover {
	background: var(--color-input-click);

}
.activo:hover {
	background-color: var(--principal);
}

.inactive {
	display: none;
}


/* --------------- container configuraciones */
.dialog-conf {
	background-color: rgba(0, 0, 0, .55);
    width: 100%;
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.dialog-container {
	display: grid;
	width: 40%;
	height: 80vh;
	background-color: var(--principal);
	border: 0;
	border-radius: 20px;
	padding: 40px;
	-webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,1);
	-moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,1);
	box-shadow: 2px 2px 9px 0px rgba(0,0,0,1);
}
.container-info__close {
	display: grid;
	grid-template-columns: 1fr 30px;
	margin-bottom: 10px;
}
.container-info-input .title-dialog, .name-input {
	font-size: 22px;
	font-weight: 600;
	font-family: var(--nution);
	margin-bottom: 5px;
}
.container-info-input .name-input {
	font-size: 16px;
	margin: 5px 0;
}
.container-info-input input {
	width: 95%;
	height: 15px;
	padding: 17px 10px;
	outline: none;
	font-weight: 600;
	transition: 0.2s;
	font-size: 15px;
	border-radius: 5px;
	font-family: var(--nution);
	border: 2px solid var(--gray-1);
}
.container-info-input input:focus {
	border: 2px solid var(--conteaste);
}
.container-info-input .input-date {
	width: 42.5%;
	color: var(--gray-1);
}
.container-info-input .periodo-date {
	font-size: 15px;
	display: inline;
	margin: 0 10px 0 10px;
}

/* buttons */
.container-configuraciones {
	display: grid;
	grid-template-columns: 1fr 100px;
}
.container-confi {
	display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}
.container-configuraciones .btn-confi {
	height: 30px;
	padding: 0 10px;
	text-align: left;
	font-size: 18px;
	font-family: var(--nution);
	margin-bottom: 10px;
	border: 2px solid var(--principal);
	transition: 0.1s;
}
.container-configuraciones .btn-confi:hover {
	border-bottom: 2px solid var(--conteaste);
}
.container-configuraciones .btn-confi:active {
	border-bottom: 2px solid var(--contraste-bajo);
	color: var(--contraste-bajo);
}
.container-eliminar {
	display: flex;
    flex-direction: column;
    justify-content: end;
}
.container-eliminar .btn-eliminar {
	width: 100%;
	text-align: center;
}
.container-eliminar .btn-eliminar:hover {
	border-bottom: 2px solid #EE0000;
}
.container-eliminar .btn-eliminar:active {
	border-bottom: 2px solid  #FD8A8A;
	color: #FD8A8A;
}
.inactive {
	display: none;
}
.conf-exit:hover {
	background-color: var(--color-input-click);
    border-radius: 100%;
}
